@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke-blue {
    -webkit-text-stroke: 1px rgb(229, 229, 229);
    color: rgb(17, 109, 110);
}

.text-stroke-red {
    -webkit-text-stroke: 1px rgb(229, 229, 229);
    color: rgb(205, 24, 24);
}

.loading-item {
    background-color: rgba(78, 54, 54, 0.85); /* Initial opacity */
    animation: fadeInOut 1s infinite alternate; /* 3s duration, alternate infinite */
}

.magnifying-glass {
    background-image: url("/magnifying-glass-solid.svg"),
        linear-gradient(rgb(50, 30, 30), rgb(119, 90, 90));
    background-repeat: no-repeat;
    /* background-position: 1rem; */
    /* background-position: 1rem center; Position the image horizontally at 1rem, centered vertically */
    background-size: 1.5rem; /* Adjust the size to your preference */
}

.search-bar {
    display: flex;
    align-items: center;
    border: solid 1px rgb(230, 184, 156);
    border-radius: 5px;
    background: url("/magnifying-glass-solid.svg") no-repeat 1rem white;
    color: rgb(133, 133, 133);
    font-size: 0.9rem;
    font-family: Ruluko, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1rem;
    min-width: 250px;
    flex-basis: 25%;
    padding-left: 2.5rem;
    margin-left: 1rem;
    height: 2rem;
}

.multiline-truncate-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines before truncation */
    overflow: hidden;
    text-overflow: ellipsis;
    height: 5.3em; /* Fit the number of lines */
    line-height: 1.6em; /* Control the spacing between lines */
}

.multiline-truncate-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5; /* Number of lines before truncation */
    overflow: hidden;
    text-overflow: ellipsis;
    height: 10em; /* Fit the number of lines */
}

@keyframes fadeInOut {
    0% {
        background-color: rgba(78, 54, 54); /* Start with high opacity */
    }

    100% {
        background-color: rgba(78, 54, 54, 0.4); /* End with low opacity */
    }
}

@media screen and (min-width: 1024px) {
    .multiline-truncate-2 {
        -webkit-line-clamp: 6;
        height: 11.6em;
    }
}
